@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Inter', sans-serif;
  }
}

@layer components {
  .vet-pattern {
    background-color: #fcf9fd;
    /* Extremely soft version of the primary color */
  }

  .dark .vet-pattern {
    background-color: #1d1022;
  }
}