@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Inter', sans-serif;
  }
}

@layer components {
  .vet-pattern {
    background-color: #f7f5f8;
    background-image: radial-gradient(#66068d22 1px, transparent 1px);
    background-size: 24px 24px;
  }

  .dark .vet-pattern {
    background-color: #1d1022;
    background-image: radial-gradient(#66068d44 1px, transparent 1px);
  }
}